node_modules/
dist/
.expo/
*.tsbuildinfo
*.log
.env
.env.local
android/
ios/
.web/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig
*.apk
*.aab
*.keystore
credentials.json
!docs/
Navizban.zip
*.jpg
*.jpeg
